asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.4
Django==5.2.2
django-allauth==65.9.0
django-channels==0.7.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.10
mysql==0.0.3
mysql-connector-python==9.3.0
mysqlclient==2.2.7
oauthlib==3.2.2
odict==1.9.0
optional-django==0.1.0
packaging==25.0
pillow==11.2.1
plumber==1.7
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.1
qrcode==8.2
requests==2.32.4
requests-oauthlib==2.0.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
wheel==0.45.1
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
